
body {
    height: 100vh;
    width: 100vw;
}

figure {
    width: 150px;
}

nav {
    color: white;
}

nav > ul > li {
    text-align: center;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fd7e14;
}

a:hover {
    font-size: 18px;
    color: #e68b40;
}

.redes-sociais {
    width: 100%;
}
