body {
    width: 100vw;
    height: 100vh;
    background-color: #3a3a3a;
    overflow-x: hidden;
}

button {
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: orange;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}